@media screen and (min-width: 0) and (max-width: 1200px) {
    body {
        width: 375px;
        height: 667px;
    }
    .contain-pattern-bg {
        width: 327px;
        height: 308px;
        top: 24px;
        right: 0;
        left: 0;
        margin: auto;
    }
    .contain-pattern-curve {
        width: 285px;
        height: 72px;
        left: 0;
        bottom: 0;
    }
    .contain-text .contain-pattern-quotes {
        width: 60px;
        height: 50px;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    #slider {
        top: 24px;
    }
    #slider , #slider .slide{
        width: 327px;
        height: 568px;
    }
    .slide .contain-text {
        width: 311px;
        height: 228px;
        bottom: 0;
        top: auto;
    }

    .slide .contain-photo {
        width: 254px;
        height: 253px;
        background-size: contain;
        left: 0;
        margin: auto;
        top: 30px;
    }

    .contain-text .citation {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        margin-top: 25px;
    }
    .contain-text .name, .contain-text .job {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }

    .contain-text .infos {
        display: flex;
        flex-direction: column;
    }
    #button {
        width: 80px;
        height: 40px;
        top: 260px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}